.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    --bg-col: #292929;
    --cont-col: #202020;
    background-color: var(--bg-col);

    font-size: 3cqmin;
    
    color: #d1d1d1;
    margin: 0;
    overflow: hidden;
}

.navbar {
    background-color: var(--cont-col);
    width: 100%;
    height: 8%;
    max-height: 8%;
    display: flex;
    flex-direction: row;
}

.navbar-left {
    width: 50%;
    display: flex;
}

.navbar-right {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
}

.navbar-div {
    background: none;
    height: 100%;
    transition: all 0.2s;
    
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.navbar-div-selected {
    background-color: var(--bg-col);
}

.navbar-div:hover {
    background-color: #111111;
}

.navbar-div-element {
    height: 100%;
}


.login-container {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-container {
    background-color: var(--cont-col);
    border-radius: 10%;
    aspect-ratio: 1 / 1;
    height: 95cqmin;
    width: auto;
    overflow: hidden;
}

.game-frame {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: auto;
}

.fade-in {
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 0.5s;
}

.fade-in-delay {
	opacity: 1;
	animation-name: fadeInDelay;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
        transform: translateY(10%);
	}
	100% {
		opacity: 1;
        transform: translateY(0%);
	}
}

@keyframes fadeInDelay {
	0% {
		opacity: 0;
        transform: translateY(10%);
	}
    50% {
        opacity: 0;
        transform: translateY(10%);
    }
	100% {
		opacity: 1;
        transform: translateY(0%);
	}
}